<div class="super-form">
  <%= simple_form_for(@student, url: group_student_path, method: :patch) do |f| %>
    <%= f.input :firstname, placeholder: @student.firstname, maxlength: 20 %>
    <%= f.input :lastname, placeholder: @student.lastname, maxlength: 20 %>
    <%= f.submit "Save", class: "super-button" %>
  <% end %>
</div>
