.div200 {
  width: 200px;
  background: white;
  padding: 12px;
}
.div200:hover {
  filter: brightness(85%);
}

a {
  text-decoration: none;
  color: black;
}

.container {
  background: rgb(0, 134, 0);
  height: 100vh;
}

body {
  margin: 0px;
  height: 100vh;
}

.account {
  background: white;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 4px;

  a {
    vertical-align: -10px;
  }
}

.super-form {
  width: 100%;

  input {
    min-width: 50%;
  }
}

.notice, .alert {
  position: absolute;
  background: rgb(255, 255, 179);
  animation: hideme 5s;
  animation-fill-mode: forwards;
}
@keyframes hideme {
  to {
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
  }
}

.navbar {
  margin-bottom: 12px;
}
