.div200 {
  width: 200px;
  background: white;
  padding: 12px;
}
.div200:hover {
  filter: brightness(85%);
}

a {
  text-decoration: none;
  color: black;
}

.container {
  background: rgb(0, 53, 185);
  min-height: 100vh;
}

body {
  margin: 0px;
  min-height: 100vh;
}

.home {
  background: white;
  width: 42px;
  height: 42px;
  padding: 4px;
  border-radius: 50%;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 4px;

  a {
    vertical-align: -10px;
    height: 100%;
  }
}
.home:hover {
  background: rgb(240, 240, 240);
  cursor: pointer;
}
.home-img img {
  width: 42px;
  height: 42px;
}

.super-form {
  width: 100%;

  input {
    min-width: 50%;
  }
}

.notice, .alert {
  position: absolute;
  background: white;
  animation: hideme 10s;
  animation-fill-mode: forwards;
}
@keyframes hideme {
  to {
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
  }
}

.navbar {
  margin-top: 4px;
  margin-bottom: 4px;
}

.main-container {
  margin: 12px;
}
