a {
  font-family: sans-serif;
}
p {
  font-family: sans-serif;
}
label {
  font-family: sans-serif;
}
span {
  font-family: sans-serif;
}
input {
  font-family: sans-serif;
}
h1 {
  font-family: sans-serif;
}
h2 {
  font-family: sans-serif;
}
h3 {
  font-family: sans-serif;
}
div {
  font-family: sans-serif;
}

.input > label {
  margin-right: 8px;
}
.input > span {
  margin-left: 8px;
}
