.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.vertical-center {
  align-items: center;
}
.flex-gap-12 {
  gap: 12px;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.mt0 {
  margin-top: 0px;
}
.mt4 {
  margin-top: 4px;
}
.mt8 {
  margin-top: 8px;
}

.mr4 {
  margin-right: 4px;
}

.mb0 {
  margin-bottom: 0px;
}
.mb4 {
  margin-bottom: 4px;
}
.mb8 {
  margin-bottom: 8px;
}

.ml8 {
  margin-left: 8px;
}

.pt4 {
  padding-top: 4px;
}
